.home-page{
  text-align: center;
}

.projects-container{
  display: grid;
  grid-template-columns: repeat(3, 26%);
  justify-content: center;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}
