.project-card-link{
  text-decoration: none;
  &:focus, &:hover, &:visited, &:link, &:active {
      text-decoration: none;
  }
  height: 30vh;
}
.project-card{
  text-decoration: none;
  &:focus, &:hover, &:visited, &:link, &:active {
      text-decoration: none;
  }
  height: 30vh;
  border: #000 solid 4px;
}

.project-card img{
  width: 100%;
  height: 100%;
}

.project-card{
  padding: 0px;
  overflow: hidden;
}