.filter-card{
  padding-bottom: 15px;
}

.filter-card input{
  width: 80px;
  padding: 8px;
}

.filter-card-label{
  border-top-style: solid;
  border-top-color: #ddd;
  border-top-width: 1px;
  display: block;
  padding-bottom: 12px;
}